.aviso-actualizacion-neon {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: antiquewhite;
    border: 2px solid #00ffcc;
    box-shadow: 0 0 20px #00ffcc;
    padding: 15px 25px;
    z-index: 9999;
    text-align: center;
    border-radius: 10px;
}

#btn-actualizar-hazi {
    background: #00ffcc;
    color: #000;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* PANTALLA DE BITÁCORA*/

.capa-bitacora {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease;
}

.bitacora {
    width: 85%;
    max-width: 450px;
    text-align: center;
}

.bitacora-icono {
    width: 192px;
    height: 192px;
    object-fit: contain;
    border-radius: 50%;
}

.bitacora-titulo {
    font-family: serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 5px;
}

.bitacora-barra-exterior {
    width: 100%;
    height: 4px;
    background: #2a2a2a;
    border-radius: 2px;
    margin-bottom: 15px;
}

.bitacora-barra-interior {
    height: 100%;
    background: #00ffcc;
    box-shadow: 0 0 8px #00ffcc;
    transition: width 0.3s;
}

.bitacora-display {
    background: #000;
    border: 1px solid #333;
    height: 150px;
    padding: 12px;
    font-family: 'Consolas', monospace;
    font-size: 0.8rem;
    color: #aaa;
    overflow-y: auto;
    text-align: left;
    border-radius: 4px;

}

.bitacora-mensaje {
    margin-bottom: 5px;
    border-left: 2px solid #00ffcc;
    padding-left: 8px;
    animation: aparecer 0.2s forwards;
}
.bitacora-display-prompt {
    color:#00ffcc;
}
@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}