.aviso-actualizacion-neon {
    position: fixed;
    bottom: 20px; left: 50%;
    transform: translateX(-50%);
    background: #000;
    color:antiquewhite;
    border: 2px solid #00ffcc;
    box-shadow: 0 0 20px #00ffcc;
    padding: 15px 25px;
    z-index: 9999;
    text-align: center;
    border-radius: 10px;
}

#btn-actualizar-hazi {
    background: #00ffcc;
    color: #000;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}