body {
    margin: 0;
    padding: 0;
    min-height: 100dvh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.oculto {
    display: none !important;
}


.aviso-actualizacion-neon {
    position: fixed;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    background: #000;
    color: antiquewhite;
    border: 2px solid #00ffcc;
    box-shadow: 0 0 20px #00ffcc;
    padding: 15px 25px;
    z-index: 9999;
    text-align: center;
    border-radius: 10px;
}

#btn-actualizar-hazi {
    background: #00ffcc;
    color: #000;
    border: none;
    padding: 8px 15px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 10px;
}

/* PANTALLA DE BITÁCORA*/

.capa-bitacora {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #121212;
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: opacity 0.6s ease;
}

.bitacora {
    width: 85%;
    max-width: 450px;
    text-align: center;
}

.bitacora-icono {
    width: 192px;
    height: 192px;
    object-fit: contain;
    border-radius: 50%;
}

.bitacora-titulo {
    font-family: serif;
    font-size: 1.8rem;
    margin-bottom: 20px;
    color: #fff;
    letter-spacing: 5px;
}

.bitacora-barra-exterior {
    width: 100%;
    height: 4px;
    background: #2a2a2a;
    border-radius: 2px;
    margin-bottom: 15px;
}

.bitacora-barra-interior {
    height: 100%;
    background: #00ffcc;
    box-shadow: 0 0 8px #00ffcc;
    transition: width 0.3s;
}

.bitacora-display {
    background: #000;
    border: 1px solid #333;
    height: 150px;
    padding: 12px;
    font-family: 'Consolas', monospace;
    font-size: 0.8rem;
    color: #aaa;
    overflow-y: auto;
    text-align: left;
    border-radius: 4px;

}

.bitacora-mensaje {
    margin-bottom: 5px;
    border-left: 2px solid #00ffcc;
    padding-left: 8px;
    animation: aparecer 0.2s forwards;
}

.bitacora-display-prompt {
    color: #00ffcc;
}

@keyframes aparecer {
    from {
        opacity: 0;
        transform: translateY(5px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}



#capa-principal {
    margin: 0;
    padding: 0;
    display: grid;
    gap: 5px;
    min-height: 100dvh;
    max-height: 100dvh;
    min-width: 100dvw;
    max-width: 100dvh;
    background-color: #AAA;
}

@media (hover: hover) {

    /* pantallas de ordenador */
    #capa-principal {
        max-width: 600px;
        max-height: 700px;
        min-height: 700px;
        min-width: 600px;
        border: solid black 5px;
    }
}

@media (orientation: portrait) {
    #capa-principal {
        grid-template-rows: minmax(0, 1fr) minmax(0, 6fr) minmax(0, 1fr) minmax(0, 1fr) minmax(0, 1fr);
        grid-template-columns: repeat(6, minmax(0,1fr));
        grid-template-areas:
            "titulo titulo . . . menu"
            "temas temas temas temas temas temas"
            ". . . . . ."
            "dificultad dificultad dificultad dificultad dificultad dificultad"
            "comenzar comenzar comenzar comenzar comenzar comenzar";
    }

    #capa-principal .dificultad {
        flex-direction: row;
        
    }
}

@media (orientation: landscape) {
    #capa-principal {
        grid-template-rows: minmax(0, 1fr)  minmax(0, 1fr)  minmax(0, 6fr) minmax(0, 1fr) minmax(0, 1fr) ;
        grid-template-columns: minmax(0, 1fr) minmax(0, 1fr)  minmax(0, 6fr) minmax(0, 1fr) minmax(0, 1fr) ;
        grid-template-areas:
            "titulo titulo .  . menu"
            ". . temas  . ."
            ". . temas  dificultad dificultad"
            ". . temas comenzar comenzar"
            ". . temas comenzar  comenzar";
    }

    #capa-principal .dificultad {
        flex-direction: column;
        
    }
}

#capa-principal .titulo {
    grid-area: titulo;
    background: red;
    min-height: 0;
}

#capa-principal .menu {
    grid-area: menu;
    background: burlywood;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    min-height: 0;
}

#capa-principal .temario {
    grid-area: temas;
    background: aqua;
    display: flex;
    flex-direction: column;
    justify-content:start;
    align-items: right;
    height: 100%;
    min-height: 0;
    overflow: auto;
}

#capa-principal .comenzar {
    grid-area: comenzar;
    background: blue;
    font-size: 1.2rem;
    min-height: 0;
}

#capa-principal .dificultad {
    grid-area: dificultad;
    background: green;
    display: flex;
    gap: 4px;
    align-items: stretch;
    justify-content:space-evenly;
    min-height: 0;

}

#capa-principal .nivel {
    flex: 1;
    background: #000;
    color: #000;
    border: 1px solid #333;
    padding: 5px 10px;
    display: flex;
    flex-direction: column;
    /* Icono arriba, texto abajo */
    align-items: center;
    justify-content:stretch;
    cursor: pointer;
    transition: 0.3s;
}

#capa-principal .nivel .texto {
    font-size: 1rem;
    flex: 1;
 
}
#capa-principal .nivel .icono {
    font-size: 1.5rem;
    flex:1;

}

#capa-principal .nivel.seleccionado[data-id="1"] {
    border-color: #00ffcc;
    color: #00ffcc;
    box-shadow: 0 0 10px #00ffcc33;
}

#capa-principal .nivel.seleccionado[data-id="2"] {
    border-color: #ffaa00;
    color: #ffaa00;
    box-shadow: 0 0 10px #ffaa0033;
}

#capa-principal .nivel.seleccionado[data-id="3"] {
    border-color: #ff4400;
    color: #ff4400;
    box-shadow: 0 0 10px #ff440033;
}